@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

@section scripts{
    <script src="~/app/data/account/register.factory.js"></script>
    <script src="~/app/components/account/register.controller.js"></script>
}

<div class="app-right-section">
    <div class="app-brand"><span class="highlight">Simplio</span> Admin</div>
    <div class="app-info">

        <ul class="list">
            <li>
                <div class="icon">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </div>
                <div class="title">Increase <b>Productivity</b></div>
            </li>
            <li>
                <div class="icon">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </div>
                <div class="title">Lot of <b>Components</b></div>
            </li>
            <li>
                <div class="icon">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <div class="title">Forever <b>Free</b></div>
            </li>
        </ul>
    </div>
</div>

<div class="app-form">
    <div class="form-suggestion">
        Crie sua conta.
    </div>
    <div ng-controller="AccountRegisterController">

        <form id="formCreateAccount" name="formCreateAccount" method="post" ng-submit="OnSubmit($event)" role="form" novalidate>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Nome" aria-describedby="basic-addon1" ng-minlength="3" ng-maxlength="50" maxlength="50" placeholder="Nome" ng-model="Model.Name" required />
            </div>
            <div class="input-group list-group-item list-group-item-danger message-error" ng-show="formCreateAccount.txtName.$dirty && formCreateAccount.txtName.$invalid">
                <small class="error" ng-bind="GetMessageNameValidation()"></small>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <input type="text" id="txtLastName" name="txtLastName" class="form-control" placeholder="Sobrenome" aria-describedby="basic-addon1" ng-minlength="3" ng-maxlength="50" maxlength="50" placeholder="Sobrenome" ng-model="Model.LastName" required />
            </div>
            <div class="input-group list-group-item list-group-item-danger message-error" ng-show="formCreateAccount.txtLastName.$dirty && formCreateAccount.txtLastName.$invalid">
                <small class="error" ng-bind="GetMessageLastNameValidation()"></small>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-at" aria-hidden="true"></i>
                </span>
                <input type="email" id="txtEmail" name="txtEmail" class="form-control" placeholder="E-mail" user-unique="txtEmail" ng-trim="false" aria-describedby="basic-addon2" ng-minlength="5" ng-maxlength="50" maxlength="50" ng-model="Model.Email" ng-pattern="Regex.Email" required />
            </div>
            <div class="input-group list-group-item list-group-item-danger message-error" ng-show="formCreateAccount.txtEmail.$dirty && formCreateAccount.txtEmail.$invalid">
                <small ng-bind="GetMessageEmailValidation()"></small>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <input type="text" id="txtDateBirth" name="txtDateBirth" class="form-control" placeholder="Data de Nascimento" ng-trim="false" ng-pattern="Regex.DateBirth" ng-model="Model.DateBirth" aria-describedby="basic-addon2" required>
            </div>
            <div class="input-group list-group-item list-group-item-danger message-error" ng-show="formCreateAccount.txtDateBirth.$dirty && formCreateAccount.txtDateBirth.$invalid">
                <small class="error" ng-bind="GetMessageDateBirthValidation()">Este campo é obrigatório</small>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input type="text" id="txtPassword" name="txtPassword" class="form-control" placeholder="Senha" aria-describedby="basic-addon3" ng-minlength="8" maxlength="50" placeholder="Senha" ng-model="Model.Password" required />
            </div>
            <div class="input-group list-group-item list-group-item-danger message-error" ng-show="formCreateAccount.txtPassword.$dirty && formCreateAccount.txtPassword.$invalid">
                <small class="error" ng-bind="GetMessagePasswordValidation()"></small>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <input type="text" id="txtConfirmPassword" name="txtConfirmPassword" class="form-control" placeholder="Confirmar Senha" aria-describedby="basic-addon4" maxlength="50" placeholder="Confirmar Senha" compare-to="Model.Password" ng-model="Model.ConfirmPassword" required />
            </div>
            <div class="input-group list-group-item list-group-item-danger small message-error" ng-show="formCreateAccount.txtConfirmPassword.$dirty && formCreateAccount.txtConfirmPassword.$invalid">
                <small class="text-danger" ng-bind="GetMessageConfirmPasswordValidation()"></small>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-success btn-submit" value="CRIAR CONTA" ng-disabled="formCreateAccount.$invalid">
            </div>

        </form>
    </div>
    <div class="form-line">
        <div class="title">OR</div>
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-default btn-sm btn-social __facebook">
            <div class="info">
                <i class="icon fa fa-facebook-official" aria-hidden="true"></i>
                <span class="title">Register w/ Facebook</span>
            </div>
        </button>
    </div>
</div>