<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="confin.ui">
<head>
    <title>Controle</title>
    <link href="~/assets/css/bootstrap/bootstrap.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="~/assets/libs/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/assets/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/libs/angularjs/angular.min.js"></script>
    <script src="~/assets/libs/angularjs/angular-animate.min.js"></script>
    <script src="~/assets/libs/angularjs/angular-aria.min.js"></script>
    <script src="~/assets/libs/angularjs/angular-messages.min.js"></script>
    <script src="~/app/app.module.js"></script>
    <script src="~/app/app.config.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>